/*
** LAYOUT STYLES
*/

/* ------ General Layout Styles ------ */
.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

section {
	padding: 60px 0;
}

.section-title {
	text-align: center;
}

/* ------ LAYOUT - PROJECT SHOWCASE ------ */
section.layout-projectshowcase {
	padding: 0;

	.project-col {
		@include backgroundCover();
		height: 300px;
		position: relative;

		&__overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 2;

			img {
				max-width: 175px;
				@include centered();
			}
		}
	}
}