/*
** PROJECTS STYLES
*/

/* INDIVIDUAL PROJECT PAGE */
.project {
	&__header {
		background-color: $grey;
		// text-align: center;
		position: relative;
		padding-top: 120px;
		padding-bottom: 0;

		@media(max-width: $screen-mobile-max) {
			padding-top: 80px;
		}

		&--bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}

		&--image {
			display: inline-block;
			width: 100%;
			text-align: center;
		}

		.container {
			position: relative;
			z-index: 2;
		}

		h1 {
			margin-bottom: 0;
			color: white;
		}
	}

	&__overview {
		background-color: $grey;

		h5 {
			color: $gold;
			margin-bottom: 20px;
		}

		&--text {
			border-right: solid 2px #ccc;

			@media (min-width: $screen-md) {
				padding-right: 30px;
			}

			@media (max-width: $screen-mobile-max) {
				border-right: none;
			}
		}

		&--tools {
			@media (min-width: $screen-md) {
				padding-left: 30px;
			}
		}
	}

	&__details {
		position: relative;
		// text-align: center;

		&--bg {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.container {
			position: relative;
			z-index: 2;
		}

		&--image {
			margin-top: 60px;

			@media(max-width: $screen-md) {
				margin-top: 40px;
			}

			@media(max-width: $screen-mobile-max) {
				margin-top: 20px;
			}

			img {
				margin-bottom: 0;
			}
		}
	}

	&__others {

		.others-column {

			@media(max-width: $screen-mobile-max) {
				margin-bottom: 20px;
			}

			&:first-child {
				padding-right: 30px;

				@media(max-width: $screen-mobile-max) {
					padding-right: 15px;
				}
			}

			&:last-child {
				text-align: right;
				padding-left: 30px;

				@media(max-width: $screen-mobile-max) {
					padding-left: 15px;
				}
			}
			
			.others-image-container {
				margin-bottom: 30px;
				box-shadow: 4px 4px 10px 1px #bbb;
			}

			.others-image {
				@include backgroundCover();
				height: 225px;
				position: relative;

				&__overlay {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
				}
			}

			.others-copy {
				p {
					font-size: 14px;
				}
			}
		}
	}
}