/*
** TYPOGRAPHY STYLES
*/

/* --- @font-face ---*/
/* GOTHAM */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham/Gotham-Light?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham/Gotham-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham/Gotham-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham/Gotham-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham/Gotham-Light.svg#Gotham-Light') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham/Gotham-Book?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham/Gotham-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham/Gotham-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham/Gotham-Book.svg#Gotham-Book') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham/Gotham-Medium?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham/Gotham-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham/Gotham-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham/Gotham-Medium.svg#Gotham-Light') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham/Gotham-Bold?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham/Gotham-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham/Gotham-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham/Gotham-Bold.svg#Gotham-Bold') format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}
/* --- END @font-face ---*/

h1, h2, h3, h4, h5, h6, p, li, a {
	font-family: $base-font;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: $black;
}

p, li, a {
	color: $black-text;
}

h1 {
	font-size: 38px;
	font-weight: $bold;
	margin-bottom: 25px;
	line-height: 1.2;

	@media(max-width: $screen-md) {
		font-size: 32px;
	}

	@media(max-width: $screen-mobile-max) {
		font-size: 28px;
		line-height: 1.3;
	}

	@media(max-width: $screen-mobile) {
		font-size: 26px;
	}
}

h2 {
	font-size: 38px;
	font-weight: $bold;
	margin-bottom: 20px;
	line-height: 1.2;

	@media(max-width: $screen-md) {
		font-size: 32px;
	}

	@media(max-width: $screen-mobile-max) {
		font-size: 28px;
		line-height: 1.3;
	}

	@media(max-width: $screen-mobile) {
		font-size: 26px;
	}
}

h3 {
	font-size: 30px;
	font-weight: $medium;
	margin-bottom: 20px;
	line-height: 1.3;

	@media(max-width: $screen-md) {
		font-size: 28px;
	}

	@media(max-width: $screen-mobile-max) {
		font-size: 24px;
	}

	@media(max-width: $screen-mobile) {
		font-size: 22px;
	}
}

h4 {
	font-size: 25px;
	font-weight: $medium;
	margin-bottom: 15px;
	line-height: 1.3;

	@media(max-width: $screen-mobile-max) {
		font-size: 20px;
		margin-bottom: 10px;
	}
}

h5 {
	font-size: 19px;
	font-weight: $bold;
	margin-bottom: 15px;
	line-height: 1.5;

	@media(max-width: $screen-mobile-max) {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

h6 {
	font-size: 16px;
	font-weight: $medium;
	margin-bottom: 10px;
	line-height: 1.6;
}

p, li {
	font-size: 16px;
	font-weight: $book;
	line-height: 1.7;
	margin-bottom: 15px;

	@media(max-width: $screen-mobile-max) {
		font-size: 15px;
	}
}

ul:not(.nav) {
	display:-moz-inline-stack;
  display: inline-block;
  zoom:1;
	*display:inline;
	padding-left: 30px;
}

ul:not(.social) {
	text-align: left !important;
}

li {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 15px;
	}
}

a {
	color: $gold;
	font-weight: $medium;
	border-bottom: dotted 1px $gold;
	text-decoration: none;
	@include all-transition();

	&:hover {
		text-decoration: none;
		color: tint($gold, 20%);
		@include all-transition();
	}
}